<ion-header>
  <ion-navbar>
   <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button> 
  <ion-title>{{'EVENTS' | translate}}</ion-title>
</ion-navbar>
</ion-header>




<ion-content overflow-scroll='false' class="listing-content">
  <ion-refresher (ionRefresh)="doRefresh($event)" pullMin="180">
    <ion-refresher-content pullingIcon="arrow-dropdown"
    pullingText="Arrastra y suelta para actualizar"
    refreshingText="Actualizando..."
    pullMin="180"
    ></ion-refresher-content>
  </ion-refresher>


  <button ion-button block large class="upload-image-button">
    <ion-icon name="calendar"></ion-icon>
    <h3 class="button-title">No hay eventos para mostrar</h3>
  </button>


  <background-image class="image-heading bg-overlay" src="{{base_url_evento_imagen}}{{item.str_imagen2}}" title="item.id" *ngFor="let item of eventos" (tap)="goToEvento(item)">
    <ion-grid>
      <ion-row class="heading-row">
        <ion-col class=" padding-title">
          <div class="to-bottom">
            <p class="resume"> <ion-icon name="calendar"></ion-icon> {{item.fec_evento | date:'dd/MM/yyyy'}} - {{item.str_lugar.toLowerCase()}} | {{ splitTime(item.hor_inicio)}}</p>

            <h2 class="main-title">{{item.str_actividad | titulocase | ellipsis : '62'}}</h2>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </background-image>

  


</ion-content>
