@mixin categories-title-style($color){
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 8vw;
	font-weight: 900;
	letter-spacing: 0.4px;
	color: $color;
	margin: 0px;
}

eventos-page {
	$categories-heading-image-height: 200px;
	$categories-grid-padding: 10px;
	$categories-horizontal-list-padding: 10px;

	ion-header {
		@include header-styles(color($colors, header-alt, base), color($colors, header-alt, contrast));
	}


	.upload-image-button
	{
		background-color: $white;
		color: $theme-color-1;
		height: 0;
		margin-top: 30vh;
		margin: 30px 0px;

		@include element-shadow();
		contain: style layout;

		.button-inner
		{
			@include flex-wrap(wrap);

			ion-icon {
				flex: 0 0 100%;
				max-width: 100%;
				font-size: 6.8em;
			}

			.button-title
			{
				flex: 0 0 100%;
				max-width: 100%;
				font-size: 1.5rem;
				color: $black-b;
				font-weight: 500;
				margin: 0px;
			}
		}
	}



	.refresher-pulling-text, .refresher-refreshing-text {
		color: gray;
	}

	.refresher-pulling-icon, .refresher-refreshing-icon {
		color: gray;
	}


	.grid{
		padding: 0 !important;
	}

	.listing-content
	{
		.image-heading
		{
			height: $categories-heading-image-height;
			margin-bottom: 1px;
			.bg-overlay
			{
				z-index: 1;
				/*background: linear-gradient(transparent,rgba(0,0,0,0.75));*/

			}

			ion-spinner {
				z-index: 2;
			}

			@include spinner-color($white);

			.heading-row
			{
				height: 100%;
				width: 100%;
				z-index: 3;
				position: absolute;
				@include align-items(center);

				.main-title
				{
					/*@include categories-title-style($white);*/

					display: inline-block;
					width: 100%;
					text-align: left;
					font-size: 6vw;
					font-weight: 900;
					letter-spacing: 0.4px;
					color: $white;
					margin: 0px;


				}
				.resume{
					color: white;
					margin: 0;
					font-size: small;
				}

				.padding-title{
					/*padding-top: 35%;*/
					background: linear-gradient(transparent,rgba(0,0,0,0.75));
					height: 100%;

					.to-bottom{
						position: absolute;
						bottom: 0px;
						width: 100%
					}
				}
			}
		}

		.categories-title
		{
			font-size: 1.2rem;
			font-weight: 400;
			letter-spacing: 0.7px;
			color: $white-d;
			margin: 8px 16px 16px;
		}

		.horizontal-categories
		{
			border-bottom: 10px solid $white-a;
			@include element-shadow();
			padding-bottom: 16px;

			.scroll-content
			{
				position: relative;
				contain: style layout;
			}

			preload-image {
				border-radius: 50%;

				img	{
					border-radius: 50%;
				}
			}

			.categories-row
			{
				@include flex-wrap(nowrap);

				&::after{
					content: '';
					flex: 0 0 $categories-horizontal-list-padding;
					max-width: $categories-horizontal-list-padding;
				}
			}

			.horizontal-item
			{
				padding: 0px 0px 0px $categories-horizontal-list-padding;
			}
		}

		.grid-categories
		{
			padding: 0px ($categories-grid-padding/2);
			@include flex-wrap(wrap);

			.category-item
			{
				padding: 0px ($categories-grid-padding/2) $categories-grid-padding;

				.category-heading
				{
					padding-bottom: 100%;

					.bg-overlay
					{
						z-index: 1;
					}

					ion-spinner {
						z-index: 2;
					}

					@include spinner-color($white);

					.heading-row
					{
						height: 100%;
						width: 100%;
						z-index: 3;
						position: absolute;
						@include align-items(center);

						.category-title
						{
							@include categories-title-style($white);
						}
					}
				}
			}
		}
	}
}
