<ion-header class="login-header">
  <ion-navbar>
    <ion-title>{{'LOG_IN' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="login-content auth-content">
  <preload-image [ratio]="{w:3, h:1.25}" src="./assets/images/logo-horizontal2.png" ></preload-image>

  <form class="login-form auth-form" [formGroup]="login" (ngSubmit)="doLogin()">
    <ion-item>
      <ion-label color="theme" floating>Tu Email</ion-label>

      <ion-input type="email" placeholder="" formControlName="email" clearInput></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!login.controls.email.valid  && login.controls.email.dirty  ">
      <p>Por favor ingresa un email válido</p>
    </ion-item>

    
    <ion-item>
      <ion-label color="theme" floating>Contraseña</ion-label>

      <ion-input type="password" placeholder="" formControlName="password" clearInput (keyup.enter)="doLogin()"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!login.controls.password.valid  && login.controls.password.dirty">
      <p>Tu contraseña no es válida.</p>
    </ion-item>


    <button ion-button block class="auth-action-button login-button" type="submit" [disabled]="!login.valid"><ion-icon name="log-in"></ion-icon>&nbsp;Entrar</button>
  </form>
  <ion-grid>
    <ion-row class="alt-options">
      <ion-col no-padding col-7>
        <button ion-button block clear class="forgot-button" (click)="goToForgotPassword()">Recupera contraseña</button>
      </ion-col>
      <ion-col no-padding col-5>
        <button ion-button block clear class="signup-button" (click)="goToSignup()"><b>Registrarme</b></button>
      </ion-col>
    </ion-row>
  </ion-grid>
<!--   <p class="auth-divider">
    O
  </p>
-->
<ion-grid>
  <ion-row>
    <button ion-button block class="facebook-auth-button" (click)="doFacebookLogin()"><ion-icon name="logo-facebook"></ion-icon>&nbsp;Ingresa con Facebook</button>
  </ion-row>
  <ion-row>
    <button ion-button block class="" (click)="doAnonymousLogin()"><ion-icon name="briefcase"></ion-icon>&nbsp;Modo Turista</button>
  </ion-row>
</ion-grid>
</ion-content>
