login-page {
	ion-header {
		@include header-styles(color($colors, header-alt, base), color($colors, header-alt, contrast));
	}

	.login-content
	{	
		.error-message p{
			color: #f44336;
		}
		.alt-options
		{
			.button
			{
				margin: 0px;
				padding: 0px;
				font-size: 1.4rem;
			}

			.forgot-button
			{
				color: $black-b;

				.button-inner
				{
					@include justify-content(flex-start);
				}
			}

			.signup-button
			{
				font-weight: 500;
				color: $theme-color-4;

				.button-inner
				{
					@include justify-content(flex-end);
				}
			}
		}
	}
}
