<ion-header class="listing-header">
  <ion-navbar>
   <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button> 
  <ion-title>{{'NEWS' | translate}}</ion-title>
</ion-navbar>
</ion-header>



<ion-content overflow-scroll='false' class="list-big-content">
  <ion-refresher (ionRefresh)="doRefresh($event)" pullMin="180">
    <ion-refresher-content pullingIcon="arrow-dropdown"
    pullingText="Arrastra y suelta para actualizar"

    refreshingText="Actualizando..."
    ></ion-refresher-content>
  </ion-refresher>


  <div class="list-big">
    <ion-list class="list-big">
      <ion-item class="list-item" *ngFor="let item of list1.noticias" (tap)="goToNews(item)" text-wrap>
        <ion-row no-padding class="content-row">

          <ion-col no-padding width-33 class="item-avatar">
            <preload-image class="avatar-image" [ratio]="{w:16, h:10}" src="{{base_url_noticia_imagen}}{{item.str_archivohead}}"></preload-image>
          </ion-col>
          
          <ion-col no-padding width-57 class="item-content">
            <p class="item-description" rows="1">
              <b>{{ item.fec_publicacion | date:'dd/MM/yyyy' }}</b>
            </p>
            <h4 class="item-title">{{item.str_titulo | titulocase | ellipsis : '85'}}</h4>


            <!-- You can change the rows quantity by using rows="X", where X can be any number for example: rows="4" -->
          </ion-col>

          <ion-col no-padding width-10 class="item-icon">
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-col>
          
        </ion-row>

      </ion-item>
    </ion-list>

    <ion-infinite-scroll threshold="40%" (ionInfinite)="doInfinite($event)">
     <ion-infinite-scroll-content loadingText="Cargando más noticias..."></ion-infinite-scroll-content>
   </ion-infinite-scroll>



   
 </div>
</ion-content>


