// Common list styles can be found in "./common.styles/layouts/lists"
$list-big-description-font-size: 12px;
$list-big-date-font-size: 10px;

noticias-page {
	ion-header {
		@include header-styles(color($colors, header-alt, base), color($colors, header-alt, contrast));
	}

	.refresher-pulling-text, .refresher-refreshing-text {
		color: gray;
	}

	.refresher-pulling-icon, .refresher-refreshing-icon {
		color: gray;
	}




	.list-big-content
	{
		background-color: color($colors, background, base);

		.list-big
		{
			@include layout-list-styles($theme-color-2, $white-d);

			ion-list {
				.list-item
				{
					box-shadow: inset 0 0.5px 0 0 #c2c2c2;
					.content-row
					{
						@include align-items(center);
					}

					.item-content
					{
						@include align-content(stretch);
						@include display(flex);
						@include flex-wrap(wrap);
						@include align-self(stretch);

						.item-title
						{
							margin-bottom: 0px;
							overflow: hidden;
							text-overflow: ellipsis;
							max-height: 5rem;
							text-transform: capitalize;
							font-size: 1.4rem;

						}
						.item-description{
							margin-bottom: 0;
						}

						
						
					}

					.item-icon{
						color: rgba(28, 168, 227, 0.5);
						
					}


				}
			}
		}
	}
}
