contactos-page {
	ion-header {
		@include header-styles(color($colors, header-alt, base), color($colors, header-alt, contrast));
	}

	.notifications-segment
	{
		padding: 14px 0px;
		background-color: $white;
		@include element-shadow();

		@include segment-button-styles($theme-color-2);

		.segment-button
		{
			@include segment-text-styles($white-d);
		}
	}
	
	.notifications-content
	{
		.notifications-divider
		{
			font-size: 1.2rem;
			font-weight: 500;
			letter-spacing: 0.9px;
			color: $theme-color-3;

			&:not(:first-child)
			{
				padding-top: 30px;
			}
		}

		.notification-item
		{
			padding: 12px;
			border: none;
			box-shadow: inset 0 -0.5px 0 0 $black-d;
			@include align-items(flex-start);

			ion-avatar {
				flex: 0 0 16%;
				max-width: 16%;
				margin: 0px;
				@include align-self(flex-start);
				margin: 0 0px 0 0!important;
				text-align: center;
				ion-icon {
					font-size: 3em;
				} 
				.user-image
				{
					border-radius: 50%;
				}
			}

			.item-inner
			{
				padding: 0px;
				padding-left: 12px;
				border: none;
				margin-top: 8px;

				ion-label {
					margin: 0px;
				}
			}

			.item-title
			{
				font-size: 1.4rem;
				font-weight: 500;
				letter-spacing: 0.2px;
				color: $theme-color-2;
				margin-bottom: 4px;
			}
			.highlight 
			{
				font-weight: bold;
			}

			.item-description
			{
				font-size: 1.2rem;
				letter-spacing: 0.2px;
				color: $black-a;
				text-overflow: initial;
				overflow: initial;
				white-space: initial;
			}

			.item-time
			{
				font-size: 1.2rem;
				font-weight: 500;
				color: $white-d;
				margin: 0px;
				padding-left: 8px;
				@include align-self(flex-start);
			}
		}
	}
}
