<ion-header>
  <ion-navbar>
   <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button> 
  <ion-title>Contacto</ion-title>
</ion-navbar>
</ion-header>

<ion-content class="notifications-content">
  <ion-segment class="notifications-segment" [(ngModel)]="section" (ionChange)="onSegmentChanged($event)">
    <ion-segment-button value="phones" (ionSelect)="onSegmentSelected($event)">
      {{'PHONES' | translate}}
    </ion-segment-button>
    <ion-segment-button value="social" (ionSelect)="onSegmentSelected($event)">
      {{'SOCIAL' | translate}}
    </ion-segment-button>

  </ion-segment>

  <div [ngSwitch]="section">
    <div *ngSwitchCase="'phones'" >
      <ion-item-group>
        <ion-item-divider class="notifications-divider"></ion-item-divider>
        


        <ion-item class="notification-item" *ngFor="let notification of notifications.contactos"  tappable (tap)="llamar(notification)">
          <ion-avatar item-left>
<!--             <preload-image class="user-image" [ratio]="{w:1, h:1}" src="./assets/images/contacto/telefono.png"></preload-image>
-->            <ion-icon color="primary" name="call"></ion-icon>

</ion-avatar>
<h2 class="item-title" [class.highlight]="notification.highlight">{{notification.name}}</h2>
<p class="item-description" [class.highlight]="notification.highlight">{{notification.phone}}</p>
</ion-item>


<ion-item-divider class="notifications-divider"></ion-item-divider>



<ion-item class="notification-item" *ngFor="let notification of notifications.otros"  tappable (tap)="llamar(notification)">
  <ion-avatar item-left>
    <ion-icon color="primary" name="call"></ion-icon>  </ion-avatar>
    <h2 class="item-title" [class.highlight]="notification.highlight">{{notification.name}}</h2>
    <p class="item-description" [class.highlight]="notification.highlight">{{notification.phone}}</p>
  </ion-item>




</ion-item-group>
</div>

<div *ngSwitchCase="'social'" >
  <ion-item-group>
    <ion-item-divider class="notifications-divider">Nuestras Redes</ion-item-divider>
    <ion-item class="notification-item" *ngFor="let notification of notifications.social" tappable (tap)="ir(notification)">
      <ion-avatar item-left>
        <preload-image class="user-image" [ratio]="{w:1, h:1}" [src]="notification.image"></preload-image>
      </ion-avatar>
      <h2 class="item-title">{{notification.name}}</h2>
      <p class="item-description">{{notification.message}}</p>
    </ion-item>

  </ion-item-group>


</div>


</div>
</ion-content>
