<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'REPORT' | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="forms-examples-content">
  <div [ngSwitch]="section" class="forms-wrapper">
    <div *ngSwitchCase="'post'" class="post-example-view">
      <form class="sample-form post-form" [formGroup]="post_form">
        <section class="form-section">
         
         <button ion-button block icon-right class="choose-category-button" (click)="chooseCategory()">
          {{this.categories_checkbox_result_label || 'Escoge una categoría'}}
          <ion-icon name="add"></ion-icon>
        </button>

        <ion-grid>
          <ion-row class="alt-options">
            <ion-col no-padding width-100>
              <ion-item>
                <ion-input type="text" placeholder="Título: ej. Semáforo apagado" formControlName="title" clearInput></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-item>
          <ion-textarea rows="7" placeholder="Agrega una descripción al reporte..." formControlName="description" ></ion-textarea>
          <button ion-button item-right clear icon-only (tap)='limpiar_descripcion()' *ngIf="post_form.controls['description'].value.length > 0" >
            <ion-icon name="md-close-circle"></ion-icon>
          </button>
        </ion-item>

        <ion-grid>
          <ion-row class="alt-options">
            <ion-col no-padding width-80>
              <ion-item>
                <ion-input type="text" [(ngModel)]="ubicacion" placeholder="Localización" formControlName="location"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col no-padding width-20>
              <ion-item>
                <button ion-button item-right clear icon-only (tap)='openMapModal()' >
                  <ion-icon name="md-locate"></ion-icon>
                </button>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        
        <button *ngIf="!selected_image" ion-button block large class="upload-image-button" (click)="abrir_opciones()">
          <ion-icon name="camera"></ion-icon>
          <h3 class="button-title">{{'UPLOAD_AN_IMAGE' | translate}}</h3>
        </button>
        <preload-image *ngIf="selected_image" [ratio]="{w:16, h:9}" [src]="selected_image" alt="this is the image" title="IMAGE!" (click)="abrir_opciones()"></preload-image>
      </section>
      <section class="form-section">
        <button ion-button block class="form-action-button create-post-button" (click)="createReporte()" [disabled]="!post_form.valid || !selected_image"><ion-icon name="send"></ion-icon>&nbsp;Enviar</button>
      </section>
    </form>
  </div>
<!--     <div *ngSwitchCase="'event'" class="event-example-view">
  <form class="sample-form event-form" [formGroup]="event_form" (ngSubmit)="createEvent()">
    <section class="form-section">
      <h2 class="section-title">{{'ADD_AN_EVENT' | translate}}</h2>
      <ion-item>
      <ion-input type="text" placeholder="Event title" formControlName="title"></ion-input>
      </ion-item>
      <h2 class="section-title">{{'SERVES_TIMES_TEMPS' | translate}}</h2>
      <ion-item class="counter-item">
      <span class="counter-label">{{'SERVINGS' | translate}}</span>
      <counter-input formControlName="servings"></counter-input>
      </ion-item>
      <ion-item class="time-item">
      <ion-label>{{'TIME' | translate}}</ion-label>
      <ion-datetime formControlName="time" displayFormat="h:mm" pickerFormat="h mm"></ion-datetime>
      </ion-item>
      <ion-item icon-right>
      <ion-input type="text" placeholder="Location" formControlName="location"></ion-input>
      <ion-icon name="navigate" item-right></ion-icon>
      </ion-item>
      <ion-item class="range-item">
      <ion-label>
      <h2 class="range-label">{{'TEMPERATURE' | translate}}</h2>
      <h3 class="range-value">{{post_form.controls.temperature.value}} &deg;C</h3>
      </ion-label>
      <ion-range formControlName="temperature" min="0" max="220" step="5" snaps="true" pin="false"></ion-range>
      </ion-item>
      <ion-row no-padding class="multi-input-row">
      <ion-col no-padding width-60>
      <ion-item class="multi-input time-item">
      <ion-label floating>{{'FROM' | translate }}</ion-label>
      <ion-datetime formControlName="from_date" displayFormat="DD/MM/YY" pickerFormat="DD-MM-YYYY"></ion-datetime>
      </ion-item>
      </ion-col>
      <ion-col no-padding width-40>
      <ion-item class="multi-input time-item">
      <ion-datetime formControlName="from_time" displayFormat="h mm a" pickerFormat="h mm A"></ion-datetime>
      </ion-item>
      </ion-col>
      </ion-row>
      <ion-row no-padding class="multi-input-row">
      <ion-col no-padding width-60>
      <ion-item class="multi-input time-item">
      <ion-label floating>{{'TO' | translate}}</ion-label>
      <ion-datetime formControlName="to_date" displayFormat="DD/MM/YY" pickerFormat="DD-MM-YYYY"></ion-datetime>
      </ion-item>
      </ion-col>
      <ion-col no-padding width-40>
      <ion-item class="multi-input time-item">
      <ion-datetime formControlName="to_time" displayFormat="h mm a" pickerFormat="h mm A"></ion-datetime>
      </ion-item>
      </ion-col>
      </ion-row>
    </section>
    <section class="form-section">
      <button ion-button block class="form-action-button create-event-button" type="submit" [disabled]="!event_form.valid">Done!</button>
    </section>
  </form>
</div>
<div *ngSwitchCase="'card'" class="card-example-view">
  <form class="sample-form card-form" [formGroup]="card_form" (ngSubmit)="createCard()">
    <section class="form-section">
      <h2 class="section-title">{{'CREDICT_CARD_INFORMATION' | translate}}</h2>
      <ion-item>
      <ion-label floating>{{'CARD_NUMBER' | translate}}</ion-label>
      <ion-input type="text" formControlName="card_number"></ion-input>
      </ion-item>
      <ion-item>
      <ion-label floating>{{'CARD_HOLDER' | translate}}</ion-label>
      <ion-input type="text" formControlName="card_holder"></ion-input>
      </ion-item>
      <ion-row no-padding class="multi-input-row">
      <ion-col no-padding width-50>
      <ion-item class="multi-input">
      <ion-label floating>CVC</ion-label>
      <ion-input type="text" formControlName="cvc"></ion-input>
      </ion-item>
      </ion-col>
      <ion-col no-padding width-50>
      <ion-item class="multi-input time-item">
      <ion-label floating>{{'EXP_DATE' | translate}}</ion-label>
      <ion-datetime formControlName="exp_date" displayFormat="MM/YYYY" pickerFormat="MM-YYYY"></ion-datetime>
      </ion-item>
      </ion-col>
      </ion-row>
    </section>
    <ion-list class="card-preferences">
    <ion-item class="switcher-item">
    <ion-label>{{'SAVE_THIS_CARD' | translate}}</ion-label>
    <ion-toggle formControlName="save_card"></ion-toggle>
    </ion-item>
    </ion-list>
    <section class="form-section">
      <button ion-button block class="form-action-button create-card-button" type="submit" [disabled]="!card_form.valid">Confirm</button>
    </section>
  </form>
</div> -->
</div>
</ion-content>