<!--
  Generated template for the MapModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>Localización</ion-title>
		<ion-buttons end>
			<button ion-button (click)="closeModal()">siguiente</button>
		</ion-buttons>
	</ion-navbar>



</ion-header>




<ion-content >
	<ion-toolbar class="search-toolbar">
		<ion-buttons start>
			<button ion-button icon-only (click)="geolocateMe()" class="geolocation-button">
				<ion-icon name="locate"></ion-icon>
			</button>
		</ion-buttons>
		<ion-searchbar class="search-places-bar" placeholder="Buscar lugar del reporte"  (ionInput)="search(search_query)" (ionClear)="clearSearch()" [(ngModel)]="search_query"></ion-searchbar>

	</ion-toolbar>
	<ion-list [hidden]="map_model.search_places_predictions.length == 0" class="search-options-list">
		<ion-item *ngFor="let place of map_model.search_places_predictions" tappable (click)="selectSearchResult(place)">
			{{ place.description }}
		</ion-item>
	</ion-list>
	<agm-map [streetViewControl]="false" (mapClick)="mapClicked($event)" [latitude]="lat" [longitude]="lng" [zoom]="zoom" >
		<agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true" (dragEnd)="markerDragEnd(m, $event)" ></agm-marker>+

	</agm-map>



</ion-content>
