<ion-header class="forgot-password-header auth-header">
  <ion-navbar>
    <ion-title>{{'FORGOT_PASSWORD?' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="forgot-password-content auth-content">
  <h2 class="auth-title">Contraseña</h2>
  <p class="recover-message">
    {{ 'RECOVER_MESSAGE' | translate }}
  </p>
  <form class="forgot-password-form auth-form" [formGroup]="forgot_password" (ngSubmit)="recoverPassword()">
    <ion-item>
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item class="error-message" *ngIf="!forgot_password.controls.email.valid  && forgot_password.controls.email.dirty">
      <p>Por favor ingresa un email válido</p>
    </ion-item>


    <button ion-button block class="auth-action-button recover-password-button" type="submit" [disabled]="!forgot_password.valid"><ion-icon name="send"></ion-icon>&nbsp;Reestablecer contraseña</button>
  </form>
  <preload-image [ratio]="{w:3, h:1.25}" src="./assets/images/logo-horizontal2.png" ></preload-image>

</ion-content>
