ion-app.wp {
	dormir-page {
		.search-container
		{
			.search-toolbar
			{
				.bar-buttons
				{
					.geolocation-button
					{
						margin-left: 0px;
						margin-right: -4px;
					}
				}
			}
		}

		ion-searchbar {
			background: transparent;

			.searchbar-input-container
			{
				border-radius: 1.6rem;
			}

			.searchbar-input
			{
				border-radius: 1.5rem;
			}
		}
	}

}
