<ion-header>
  <ion-navbar>
   <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button> 
  <ion-title>{{'VIDEO_PLAYLIST' | translate}}</ion-title>
</ion-navbar>
</ion-header>

<ion-content overflow-scroll='false' class="videos-content">

  <div class="videos-content">
    <div  class="list-view">
      <div class="list-item" *ngFor="let video of videos | async" >

        <ion-card>
          <preload-image (tap)="openVideo(video)" class="media-thumbnail-image avatar-image" [ratio]="{w:8, h:4}" [src]="video.snippet.thumbnails.medium.url"></preload-image>

          <ion-card-content>
            <h2 class="item-title">
              {{ video.snippet.title | titulocase | ellipsis : '100' }}
            </h2>

            <p class="item-text" *ngIf="video.snippet.description">
              {{ video.snippet.description }}
            </p>

          </ion-card-content>
          <ion-row no-padding class="actions-row">
            <ion-col no-padding width-70 text-left>
              <button class="action-button" ion-button clear small icon-left>
                <ion-icon  name='md-calendar'></ion-icon>
                {{video.snippet.publishedAt | date:'dd/MM/yyyy'}}
              </button>
            </ion-col>

            <ion-col no-padding width-30 text-right>
              <button class="action-button" ion-button clear small color="danger" icon-left (click)="sharePost(video)">
                <ion-icon name='share-alt'></ion-icon>
                Compartir
              </button>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
    </div>

  </div>
</ion-content>
