$player-controls-height: 40px;
$player-play-icon-height: 6rem;
$playlist-item-font-size: 12px;
$playlist-item-play-icon-height: 5rem;


@mixin play-icon-styles($background, $size, $color){
	&:before {
		font-family: "Ionicons";
		// As the play arrow ('\f487' in Ionicons font) is a weird shape, we need to use a hack to visually center horizontally.
		// We are going to prepend the 1/6 of em unicode ('\2006'). More info here: (http://www.cs.tut.fi/~jkorpela/chars/spaces.html)
		content: "\2006\f487";
		color: $color;
		background: rgba($background, .8);
		font-size: $size - 1;
		width: $size;
		height: $size;
		line-height: $size;
		text-align: center;
		border-radius: 50%;
	}
}



videos-page {

	ion-header {
		@include header-styles(color($colors, header-alt, base), color($colors, header-alt, contrast));
	}



	.videos-content
	{
		background-color: color($colors, background, base);



		.videos-content-segment
		{
			@include segment-button-styles($theme-color-2);

			.segment-button
			{
				@include segment-text-styles($white-d);
			}
		}

		.videos-content
		{



			.list-view
			{
				.list-item
				{
					@include basic-card-styles($black-c);

					padding: 5px 0px;

					ion-card {
						margin-top: 0px;
						margin-bottom: 0px;
					}

					.item-date
					{
						font-size: 1.4rem;
						font-weight: 500;
						color: $white-d;
						margin: 0px 18px 4px;
						display: block;
					}

					.item-title{
						color: $black-b;
					}





					.media-thumbnail-image
					{
						@include play-icon-styles($white, $playlist-item-play-icon-height, $theme-color-2);

						&:before {
							visibility: hidden;
							position: absolute;
							z-index: 4;
							@include calc(top, "50% - #{($playlist-item-play-icon-height/2)}");
							@include calc(left, "50% - #{($playlist-item-play-icon-height/2)}");
						}

						&.img-loaded
						{
							&:before {
								visibility: visible;
							}
						}
					}

				}
			}

			.grid-view
			{
				padding: 8px 0px 2px;

				.grid-row
				{
					padding: 0px 5px;

					.grid-item
					{
						padding: 0px 3px 6px;
					}
				}

			}
		}
	}
}
