@mixin header-styles($background, $color){
	.toolbar-background
	{
		border: none !important;
		/*background-color: $background;*/
		background: linear-gradient(141deg, $theme-color-1 0%, $theme-color-2 51%, $theme-color-1 75%);
	}

	.toolbar-title,
	.back-button,
	.bar-button
	{
		color: $color;
	}
}



ion-header {
	@include header-styles(color($colors, header, base), color($colors, header, contrast));
}
