<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contacto</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="forms-examples-content">

  <div [ngSwitch]="section" class="forms-wrapper">
    <div *ngSwitchCase="'post'" class="post-example-view">



      <form class="sample-form post-form" [formGroup]="post_form">
        <section class="form-section">

         <ion-grid>
          <ion-row class="alt-options">
            <ion-col no-padding width-100>
              <ion-item>
                <ion-input type="text" placeholder="Asunto" formControlName="title" clearInput></ion-input>
              </ion-item>
            </ion-col>

          </ion-row>
        </ion-grid>






        <ion-item>
          <ion-textarea rows="7" placeholder="Tu mensaje..." formControlName="description" ></ion-textarea>

        </ion-item>


      </section>
      <section class="form-section">
        <button ion-button block class="form-action-button create-post-button" (click)="enviarForm()" [disabled]="!post_form.valid"><ion-icon name="send"></ion-icon>&nbsp;Enviar</button>
      </section>
    </form>
    <ion-row wrap class="user-bio-row">

      <ion-col padding width-100>
        <p class="form-description">
          Utiliza este formulario para enviar un mensaje directamente a la municipalidad.
        </p>
      </ion-col>
    </ion-row>
  </div>

</div>
</ion-content>