evento-page {
	ion-header {
		@include header-styles(color($colors, header-alt, base), color($colors, header-alt, contrast));
	}

	.feed-content
	{
		background-color: color($colors, background, base);

		.feed-item
		{
			@include basic-card-styles($white-d);

			.item-title
			{
				margin: 0px;
				margin-bottom: 12px;
				padding: 0px;
				letter-spacing: 1.1px;
				color: $theme-color-2;
			}

			.share-image
			{	max-width: 100%;
				/*border-radius: 50%;*/
			}

			.item-text{
				white-space: pre-line;
				color: #5a5a5a;

			}


			ion-row.padding-bottom-0{
				padding-bottom: 0;
			}

			
		}
	}
}
