<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			<span>Evento</span>
		</ion-title>
	</ion-navbar>
</ion-header>


<ion-content class="feed-content">
	<div class="feed-item">
		<ion-card text-wrap>
			<preload-image [ratio]="{w:3, h:1.5}" src="{{base_url_evento_imagen}}{{evento.str_imagen2}}" title="{{evento.id}}"></preload-image>
			<ion-card-content>
				<ion-card-title class="item-title">
					{{titulo | titulocase}}
				</ion-card-title>
				<p><b>Fecha:</b> {{ evento.fec_evento | date:'dd/MM/yyyy' }} {{ splitTime(evento.hor_inicio) }}</p>
				<p><b>Lugar:</b> {{ evento.str_lugar.toLowerCase() | titulocase }}</p>

				<p class="item-text">
					{{evento.str_actividad}}
				</p>
			</ion-card-content>
			<ion-row no-padding class="actions-row padding-bottom-0">
				<ion-col>
				</ion-col>
				<ion-col col-6>
					<img src="./assets/images/twitter.svg" class="share-image" (click)="sharePostTwitter(evento)" >

				</ion-col>
				<ion-col>
				</ion-col>


			</ion-row>
			<ion-row no-padding class="actions-row padding-bottom-0">
				<ion-col>
				</ion-col>
				<ion-col col-6>
					<img src="./assets/images/whatsapp.svg" class="share-image" (click)="sharePostWhatsapp(evento)" >

				</ion-col> 
				<ion-col>
				</ion-col>


			</ion-row>
			<ion-row no-padding class="actions-row padding-bottom-0">
				<ion-col>
				</ion-col>
				<ion-col col-6>
					<img src="./assets/images/facebook.svg" class="share-image" (click)="sharePostFacebook(evento)" >

				</ion-col> 
				
				<ion-col>
				</ion-col>

			</ion-row>
		</ion-card>
	</div>
</ion-content>
