<ion-header class="walkthrough-header">
  <ion-toolbar>
    <ion-buttons end>
      <button ion-button class="skip-button" (click)="skipIntro()" [hidden]="lastSlide">omitir</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce class="walkthrough-content">
  <ion-slides #slider (ionSlideDidChange)="onSlideChanged()" pager="true">
    <ion-slide class="slide-1">
      <ion-row class="intro-image-row">
        <ion-col center width-64 no-padding>
          <preload-image [ratio]="{w:1, h:1.15}" src="./assets/images/imologo_blanco2.png" alt="app logo" title="OsornoApp"></preload-image>
        </ion-col>
      </ion-row>
      <h2 class="main-title">¡Bienvenido!</h2>
      <p class="intro-text">
       Esta es la nueva aplicación de la Ilustre Municipalidad de Osorno
     </p>
     <p class="intro-text">

     </p>
   </ion-slide>
   <ion-slide class="slide-2">
    <ion-row class="intro-image-row">
      <ion-col center width-64 no-padding>
        <preload-image [ratio]="{w:1, h:1}" src="./assets/images/text-lines.png" alt="slide 2 img" title="OsornoApp"></preload-image>
      </ion-col>
    </ion-row>
    <h2 class="main-title">Noticias</h2>
    <p class="intro-text">
     Entérate de todo lo que sucede en la ciudad de Osorno y alrededores
   </p>
   <p class="intro-text">
   </p>
 </ion-slide>
 <ion-slide class="slide-3">
  <ion-row class="intro-image-row">
    <ion-col center width-64 no-padding>
      <preload-image [ratio]="{w:1, h:1}" src="./assets/images/weekly-calendar.png" alt="slide 3 img" title="OsornoApp"></preload-image>
    </ion-col>
  </ion-row>
  <h2 class="main-title">Eventos</h2>
  <p class="intro-text">
    Entérate de los eventos y festividades que te esperan en tu paso por Osorno.
  </p>
</ion-slide>
<ion-slide class="slide-4">
  <ion-row class="intro-image-row">
    <ion-col center width-64 no-padding>
      <preload-image [ratio]="{w:1, h:1}" src="./assets/images/protest.png" alt="slide 4 img" title="OsornoApp"></preload-image>
    </ion-col>
  </ion-row>
  <h2 class="main-title">Reportes</h2>
  <p class="intro-text">
    Haz tu reporte al municipio de cualquier situación anómala en la ciudad
  </p>
</ion-slide>

<ion-slide class="slide-5">
  <ion-row class="intro-image-row">
    <ion-col center width-64 no-padding>
      <preload-image [ratio]="{w:1, h:1}" src="./assets/images/phone-receiver.png" alt="slide 5 img" title="OsornoApp"></preload-image>
    </ion-col>
  </ion-row>
  <h2 class="main-title">Contactos y Redes</h2>
  <p class="intro-text">
    Ten a mano todas las vías de contacto con el municipio
  </p>
</ion-slide>

<ion-slide class="slide-6">
  <ion-row class="intro-image-row">
    <ion-col center width-64 no-padding>
      <preload-image [ratio]="{w:1, h:1}" src="./assets/images/video-play.png" alt="slide 6 img" title="OsornoApp"></preload-image>
    </ion-col>
  </ion-row>
  <h2 class="main-title">Videos</h2>
  <p class="intro-text">
    Disfruta en tu teléfono de los últimos videos publicados por el municipio
  </p>
</ion-slide>






<ion-slide class="slide-7">
  <ion-row class="intro-image-row">
    <ion-col center width-64 no-padding>
    </ion-col>
  </ion-row>
  <h2 class="main-title">¡Listo!</h2>
  <p class="intro-text" style="margin:0;">
    Ingresa con tu cuenta o regístrate gratuitamente.
  </p>

  <div class="button-bar">
    <ion-row>
      <div class="col col-50">
        <button full round ion-button color="light" (click)="goToLogin()"><ion-icon name="log-in"></ion-icon>&nbsp;Ingresar</button>
      </div>
      <div class="col col-50">
        <button full round ion-button color="light" (click)="goToSignup()"><ion-icon name="person-add"></ion-icon>&nbsp;Regístrate</button>
      </div>
    </ion-row>

    <ion-row>
     <div class="col col-100">
      <button full round ion-button color="theme-color-3" (click)="doAnonymousLogin()"><ion-icon name="briefcase"></ion-icon>&nbsp;Modo Turista</button>
    </div>
  </ion-row>
</div>
</ion-slide>
</ion-slides>
</ion-content>
