ion-header .toolbar-background {
	border: none !important;
	/*background-color: $background;*/
	background: transparent;
}

walkthrough-page {


	.walkthrough-content
	{
		// Default background when bouncing isn't disabled
		background-color: color($colors, walkthrough, base);
		.scroll-content
		{
			margin: 0px !important;
		}

		ion-slide:nth-child(odd)
		{
			/*			background-color: color($colors, walkthrough, base);*/
			background: linear-gradient(141deg,  #1BA8E2 0%, #1BA8E2 51%, #2973C0 75%);

			color: color($colors, walkthrough, contrast);
		}

		ion-slide:nth-child(even)
		{
			/*background-color: color($colors, walkthrough-alt, base);*/
			background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
			color: color($colors, walkthrough-alt, contrast);
		}

		.swiper-pagination-bullet
		{
			background: $white;
			opacity: .5;

			&.swiper-pagination-bullet-active
			{
				opacity: 1;
			}
		}

		ion-slides {

			ion-slide {
				@include align-items(flex-start);

			}

			.intro-image-row
			{
				@include justify-content(center);
				margin-top: 90px;
				margin-top: 16vh;
			}

			.main-title
			{
				margin: 25px 20px 5px;
				font-size: 3rem;
				font-weight: 900;
				font-style: italic;
				text-align: center;
				color: $white;
			}

			.intro-text
			{
				margin: 0px 10%;
				font-size: 1.55rem;
				line-height: 1.35;
				text-align: center;
				color: $white;


			}

			.last-intro{
				margin: 0;
			}

		}

		.slide-4
		{
			.main-title
			{
				margin-top: 15px;
			}

			.button-bar
			{
				@include display(flex);
				margin: 25px 8%;

				& > .button
				{
					@include segment-text-styles(color($colors, button-alt, base));
					background-color: color($colors, button-alt, contrast);
					margin: 0px;
					border-radius: 0px;
					@include flex(1);

					&:first-child
					{
						border-radius: 6px 0px 0px 6px;

						&::after
						{
							content: '';
							background-color: color($colors, button-alt, base);
							width: 2px;
							@include calc(height, "100% - 20px");
							margin: 10px 0px;
							position: absolute;
							top: 0px;
							right: 0px;
							opacity: 0.6;
						}
					}
					&:last-child
					{
						border-radius: 0px 6px 6px 0px;
					}
				}
			}
		}
	}
}
