<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			<span>Noticia</span>
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="feed-content">
	<div class="feed-item">
		<ion-card text-wrap>
			<preload-image [ratio]="{w:3, h:2}" src="{{base_url_noticia_imagen}}{{noticia.str_archivohead}}" title="noticia.id"></preload-image>
			<ion-card-content>
				<ion-card-title class="item-title">
					{{titulo | titulocase }}
				</ion-card-title>
				<p>Publicado el {{ noticia.fec_publicacion | date:'dd/MM/yyyy' }}</p>
				<p class="item-text">
					{{noticia.str_observacion}}
				</p>
			</ion-card-content>
			<ion-row no-padding class="actions-row padding-bottom-0">
				<ion-col>
				</ion-col>
				<ion-col col-6>
					<img src="./assets/images/twitter.svg" class="share-image" (click)="sharePostTwitter(noticia)" >

				</ion-col>
				<ion-col>
				</ion-col>


			</ion-row>
			<ion-row no-padding class="actions-row padding-bottom-0">
				<ion-col>
				</ion-col>
				<ion-col col-6>
					<img src="./assets/images/whatsapp.svg" class="share-image" (click)="sharePostWhatsapp(noticia)" >

				</ion-col> 
				<ion-col>
				</ion-col>


			</ion-row>
			<ion-row no-padding class="actions-row padding-bottom-0">
				<ion-col>
				</ion-col>
				<ion-col col-6>
					<img src="./assets/images/facebook.svg" class="share-image" (click)="sharePostFacebook(noticia)" >

				</ion-col> 
				
				<ion-col>
				</ion-col>

			</ion-row>

			<ion-row no-padding class="actions-row padding-bottom-0">
				<ion-col>
				</ion-col>
				<ion-col col-6>
					<img src="./assets/images/mail.svg" class="share-image" (click)="sharePostEmail(noticia)" >

				</ion-col> 
				
				<ion-col>
				</ion-col>

			</ion-row>



		</ion-card>
	</div>
</ion-content>
