<ion-menu type="overlay" [content]="content" [swipeEnabled]="true">

  <ion-content class="menu-content">
    <preload-image [ratio]="{w:3, h:1.5}" src="./assets/images/logo-horizontal2-sm.png" ></preload-image>

    <ion-list class="menu-list">
      <button ion-item detail-none *ngFor="let page of pages" (click)="pushPage(page)">
        <ion-icon *ngIf="page.icon" name="{{page.icon}}" item-left></ion-icon>
        {{page.title}}
      </button>

      <button ion-item detail-none (click)="confirm_logout()">
        <ion-icon name="log-out" item-left></ion-icon>
        Salir
      </button>
      <button ion-item detail-none *ngFor="let page of pushPages" (click)="pushPage(page)">
        <ion-icon *ngIf="page.icon" name="{{page.icon}}" item-left></ion-icon>
        {{page.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipe-back-enabled="true"></ion-nav>
