// http://ionicframework.com/docs/v2/theming/

// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

// Include Bourbon
$output-bourbon-deprecation-warnings: false;
@import "_bourbon";

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../theme/common";
$app-direction: multi;


ion-menu .menu-list {
	margin: 0vh 0px 0px !important;
}


@font-face {
	font-family: 'Paytone One';
	src: url("../assets/fonts/paytoneone.woff2"); 
}

@font-face {
	font-family: 'Noto Sans';
	src: url("../assets/fonts/notosans.woff2"); 
}


@font-face {
	font-family: 'Lato';
	src: url("../assets/fonts/lato.woff2"); 
}




* {
	font-family: 'Lato';

}



tabs-navigation .tabbar .tab-button[aria-selected=true] {
	font-weight: bold;
}
