<ion-header class="privacy-header legal-header">
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span showWhen="ios">Cerrar</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Privacidad
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="privacy-content legal-content">
  <p>{{'LAST_MODIFIED' | translate }}: 22 Enero 2018</p>
  <h4 class="legal-title">OsornoApp: políticas de uso y privacidad</h4>
  <p>El presente documento reúne las políticas de uso y privacidad que involucra la utilización de este
  aplicativo para nuestros vecinos y turistas.</p>

  <h4 class="legal-title">General</h4>
  <p>OsornoApp una aplicación de la I. Municipalidad de Osorno que provee a nuestros vecinos y
    turistas servicios institucionales disponibles, acercando en forma proactiva la información del organismo
  y la comunidad, permitiendo una comunicación fluida.</p>
  <p>A través de esta aplicación, se pueden ver eventos, datos de contacto y leer noticias, entre otros
  contenidos, información disponible las 24 horas del día, los siete días de la semana.</p>
  <p>Al acceder a la Aplicación OsornoApp el usuario está aceptando y reconoce que ha revisado y está
    de acuerdo con su Política de Privacidad. La I. Municipalidad de Osorno se reserva el derecho a modificar
    la presente política de privacidad y será responsabilidad del usuario la lectura y acatamiento de
  ésta cada vez que ingrese al sitio.</p>

  <h4 class="legal-title">Acceso a la Información</h4>
  <p>Los contenidos de OsornoApp son de carácter gratuito para sus usuarios registrados. No obstante,
  a través de esta herramienta se entrega información que está disponible también para usuarios turistas que no posean nombre de usuario y clave.</p>

  <h4 class="legal-title">Uso de la Información y Confidencialidad</h4>
  <p>La I. Municipalidad de Osorno no hace uso comercial de la información recopilada de los
  usuarios. Sin embargo, los datos personales estarán disponibles para usuarios de la I. Municipalidad de Osorno que cuentan con la autorización para ello.</p>
  <p>El usuario de OsornoApp sólo podrá utilizar la información entregada en el sitio para uso personal;
    por lo tanto, queda prohibido que se le dé un uso comercial, ya sea ceder, retransmitir o distribuir,
  de cualquier forma, los contenidos entregados a través de este portal.</p>

  <p>El usuario acepta que la aplicación puede recopilar información de carácter no personal para el sólo
    fin de generar registros de actividad, navegación y/o audiencia, que se emplearán para realizar
  mejoras en la aplicación y su contenido.</p>
  <p>Los datos recopilados que contengan información personal de los usuarios de la aplicación son
    confidenciales y solo podrán entregarse a terceros en razón de un mandato legal o una orden
  emanada de los tribunales de Justicia que así lo establezca.</p>


  <h4 class="legal-title">Contacto</h4>
  <p>Para cualquier corrección sobre los datos personales de los usuarios registrados de esta aplicación,
    consultas sobre esta política, o problemas con la aplicación por favor, póngase en contacto
  a la dirección electrónica contacto@imo.cl</p>
</ion-content>