<ion-header class="signup-header">
  <ion-navbar>
    <ion-title>{{'SIGN_UP' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="signup-content auth-content">
  <preload-image [ratio]="{w:3, h:1.22}" src="./assets/images/logo-horizontal2.png" ></preload-image>
  <form class="signup-form auth-form" [formGroup]="signup" (ngSubmit)="doSignup()">
    <ion-item>
      <ion-label color="theme" floating>Tu Email</ion-label>

      <ion-input type="email" placeholder="" formControlName="email" clearInput></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signup.controls.email.valid  && signup.controls.email.dirty">
      <p>Por favor ingresa un email válido</p>
    </ion-item>

    
    <ion-item>
      <ion-label color="theme" floating>Contraseña</ion-label>

      <ion-input type="password" placeholder="" formControlName="password" clearInput></ion-input>
    </ion-item>


    


    <ion-item>
      <ion-label color="theme" floating>Confirma contraseña</ion-label>

      <ion-input type="password" placeholder="" formControlName="password2" clearInput (keyup.enter)="doSignup()"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!verifica_password() && completado_password()">
      <p>Por favor comprueba tu contraseña</p>
    </ion-item>
    

    <button ion-button block class="auth-action-button signup-button" type="submit" [disabled]="!signup.valid || !verifica_password()"><ion-icon name="log-in"></ion-icon>&nbsp;{{'SIGN_UP' | translate}}</button>
  </form>
  <p class="auth-divider">
    O
  </p>
  <button ion-button block class="facebook-auth-button" (click)="doFacebookSignup()"><ion-icon name="logo-facebook"></ion-icon>&nbsp;{{'SIGN_UP_WITH_FACEBOOK' | translate}}</button>
  <p class="legal-stuff">
    {{'AGREEMENT_TEXT' | translate}} <a class="legal-action" (click)="showPrivacyModal()">{{'PRIVACY_POLICY' | translate}}</a>
  </p>


</ion-content>
