ion-app.ios .auth-content .auth-form .show-hide-password ion-item.item input[type=password].text-input{
	letter-spacing: 0;

}

signup-page {

	ion-header {
		@include header-styles(color($colors, header-alt, base), color($colors, header-alt, contrast));
	}
	.signup-content
	{
		.error-message p{
			color: #f44336;
		}

		
		.legal-stuff
		{
			color: $black-b;
			text-align: center;
			margin: 10px 12px;

			.legal-action
			{
				font-weight: 500;
				color: $theme-color-4;
			}
		}
	}
}
